backports.tarfile==1.2.0
docopt==0.6.2
docx2pdf==0.1.8
flask==3.0.3
importlib-metadata==8.0.0
ipython==8.12.3
jaraco.collections==5.1.0
nbconvert==7.16.4
pdf2docx==0.5.8
pdfkit==1.0.0
pypdf==4.3.1
tomli==2.0.1
yarg==0.1.9
